/**
 * BUGO FOOTER VARIABLES
 **/

// * Margin
// * false | modular scale ratio

$footer-margin-top:        false !default; // false | modular scale ratio
$footer-margin-right:      false !default; // false | modular scale ratio
$footer-margin-bottom:     $global-margin !default; // false | modular scale ratio
$footer-margin-left:       false !default; // false | modular scale ratio


// * Padding
// * false | modular scale ratio

$footer-padding-top:       false !default; // false | modular scale ratio
$footer-padding-bottom:    false !default; // false | modular scale ratio
$footer-padding-right:     false !default; // false | modular scale ratio
$footer-padding-left:      false !default; // false | modular scale ratio


/**
 * BUGO LOCATIONS LAYOUT
 **/

$footer-loc-bg:             $primary;
$footer-loc-color:          $white;