/**
 * BUGO FOOTER
 **/
@debug "Loading Bugo Footer Module SASS";

@import "bugo-footer-vars";

.site-footer {
  @include space-element-x(margin, $article-margin-left, $article-margin-right);
  @include space-element-y(margin, $article-margin-top, $article-margin-bottom);
  @include space-element-x(padding, $article-padding-left, $article-padding-right);
  @include space-element-y(padding, $article-padding-top, $article-padding-bottom);
}



.site-footer-simple {
  .footer-logo {
    display: inline;
  }
}

.footer-locations {
  background-color: $footer-loc-bg;
  color: $footer-loc-color;

  .container {
    justify-content: space-between;
  }

  a {
    color: $footer-loc-color;
  }

  .footer-logo {
    display: inline;
  }

  .nav-footer.nav-vertical {
    ul {
      li {
        a {
          @include set-padding(-4,false,-4,false);
          line-height: 1.375;
        }
      }
    }
  }
}
